@import 'tailwindcss';

@layer components {
    .background-glass {
        @apply border border-white/10 bg-white/10 backdrop-blur-xs;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    .text-gradient {
        @apply bg-linear-to-r from-blue-400 via-indigo-300 to-purple-400 bg-clip-text text-transparent;
    }
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}
