@import 'tailwindcss';

@layer components {
    .background-glass {
        @apply border border-white/10 bg-white/10 backdrop-blur-xs;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    .text-gradient {
        @apply bg-linear-to-r from-blue-400 via-indigo-300 to-purple-400 bg-clip-text text-transparent;
    }
}

button {
    cursor: pointer;
}
